<!-- <main>
  <section id="main" appDroppable>
    <div appResizable>
      <h3>Resizable Paragraph 1</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
        excepturi ut, autem adipisci, nam asperiores in rerum animi maiores
        veniam placeat ipsum facilis, eligendi repudiandae temporibus! Eum
        aliquid cupiditate rerum!
      </p>
    </div>
    <div cdkDropList
    id="myArr2"
    [cdkDropListConnectedTo]="['myArr1']"
    (cdkDropListDropped)="onDrop($event)">
      <h3>Resizable Paragraph 2</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
        excepturi ut, autem adipisci, nam asperiores in rerum animi maiores
        veniam placeat ipsum facilis, eligendi repudiandae temporibus! Eum
        aliquid cupiditate rerum!
      </p>
    </div>
    <div cdkDropList
    id="myArr2"
    [cdkDropListConnectedTo]="['myArr1']"
    (cdkDropListDropped)="onDrop($event)">
      <h3>Resizable Paragraph 3</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
        excepturi ut, autem adipisci, nam asperiores in rerum animi maiores
        veniam placeat ipsum facilis, eligendi repudiandae temporibus! Eum
        aliquid cupiditate rerum!
      </p>
    </div>
</section>
</main> -->
<!-- <div appResizable>
  <h3>Resizable Paragraph 1</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
    excepturi ut, autem adipisci, nam asperiores in rerum animi maiores
    veniam placeat ipsum facilis, eligendi repudiandae temporibus! Eum
    aliquid cupiditate rerum!
  </p>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <app-folder1> </app-folder1>
    </div>
  </div>
</div>